<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Analisis de Imagenes</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div align="center">
        <div class="card" style="width: 34rem;">
            <br>
            <div>
                <form action="/analizar" method="POST" enctype="multipart/form-data">
                    <label >Escoge el tipo de segmentacon</label>
                    <select name="sec" id="sec" class="input-group-text">
                        <option value="1">Sin segmentacion</option>
                        <option value="32">32 x 32</option>
                        <option value="64">64 x 64</option>
                    </select>
                    <button type="submit" class="input-group-text">Analizar</button>
                </form>
            </div>
            <div class="card-body">
                <form action="/data" method="POST" enctype="multipart/form-data">
                    <label for="files">Selecciona las imagenes:</label>
                    <input type="file"  name="files[]" multiple="true" ><br><br>
                    <button type="submit" class="input-group-text">Enviar</button>
                </form>
            </div>
          </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
